<div class="card-container">
    <mat-card class="example-card" >
      <mat-card-header class="header">
        <mat-card-title>{{quizTitle}}</mat-card-title>
        <span class="spacer"></span>
        <span class="time"> Time {{counter}}s <mat-icon>access_alarms</mat-icon> </span>
      </mat-card-header>

      <mat-card-content class="content" >
        <div class="body">

          <div class="title">
            {{current_question + 1}}. {{questionList[current_question]?.name}}
          </div>

          <div [hidden]="old_question" class="answers">
            <span class="new">New</span>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group" [(ngModel)]="answer">
              <mat-radio-button class="example-radio-button" [disabled]="isDone"
              *ngFor="let answer of questionList[current_question]?.answer; let i = index;" [value]="answer.id"
              (click)="getAnswer(questionList[current_question].answer, i)">
                {{answer.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div >

          <div [hidden]="!old_question" class="answers">
            <span class="old">Old</span>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group" [(ngModel)]="answer">
              <mat-radio-button class="example-radio-button" [disabled]="isDone"
              *ngFor="let answer of questionList[current_question]?.answer; let i = index;" [value]="answer.id"
              (click)="getAnswer(questionList[current_question].answer, i)">
                {{answer.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>

      <mat-toolbar color="accent" class="footer">
        <button [disabled]="current_question === 0" mat-raised-button class="previous" (click)="previousQuestion()" ><mat-icon>keyboard_arrow_left</mat-icon> Previous </button>
        <span class="spacer"></span>
        <span class="text">Question {{current_question +1 }} of {{questionList.length}} </span>
        <span class="spacer"></span>
        <button mat-raised-button class="next" (click)="nextQuestion()"> Next <mat-icon>keyboard_arrow_right</mat-icon></button>
        <button mat-raised-button class="submit" routerLink="/finish-page" (click)="submitQuestion()"> Submit <mat-icon>done_outline</mat-icon></button>
      </mat-toolbar>
    </mat-card>
  </div>
